<!-- <nb-card>
  <nb-card-body> -->
    <!-- <div class="container mt-3">
      Show success message
      <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successMsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      Close success message
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usr of readUser">
            <th scope="row">{{usr.id}}</th>
            <td>{{usr.fullname}}</td>
            <td>{{usr.email}}</td>
            <td>{{usr.mobile}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  <!-- </nb-card-body>
</nb-card> -->
PAGES LGD SIMULATION LIST HERE