// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  color-primary: #EE2E24,
  color-secondary: #EDF1F7,
  color-icon: #666666,
  color-text: #212121,
  header-height: 3.5rem,
  layout-padding: 0.75rem,
  menu-item-icon-margin: 0 0.3rem 0 0,
  
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-default : color-primary,
  color-primary-hover : #FE4940,
  color-primary-active : color-primary,
  color-primary-focus : color-primary,
  option-selected-focus-background-color: color-primary,
  menu-text-color: color-text,
  menu-item-icon-color: color-icon,

  sidebar-width: 15rem,
  menu-text-font-family: font-family-primary,
  header-padding: 0.7rem,
  font-weight: 400,
  text-label-font-weight: 400,
  text-subtitle-font-weight: 400,
  text-subtitle-2-font-weight: 400,
  text-caption-2-font-weight: 400,
  text-button-font-weight: 400,
  layout-text-font-size: 0.75rem,
  layout-text-font-weight: 400,
  card-padding: 0.75rem,
  card-header-text-font-size: 1.25rem,
  card-header-text-font-weight: 600,
  card-text-font-size: 0.75rem,
  card-text-font-weight: 400,
  // footer-background-color: linear-gradient(150deg, rgba(255,255,255,1) 25%, rgba(234,0,0,0.7307094712885154) 50%, rgba(255,255,255,1) 75%),
  background-header-gradient: rgba(255,255,255,0.7),
  // background-header-gradient: linear-gradient(2deg, rgba(255,255,255,0.7) 0%, rgba(210,0,0,0.9) 50%, rgba(255,255,255,0.7) 100%),
  // layout-background-color: linear-gradient(0deg, rgba(237,241,247,1) 0%, rgba(255,245,245,1) 100%),
  menu-item-padding: 0.5rem,
  menu-submenu-item-padding: 0.2rem,
  menu-text-font-size: 0.8rem,
  // user-initials-text-font-weight: bold,
  user-medium-name-text-font-size: 0.8rem,
  user-medium-initials-text-font-size: 0.9rem,
  context-menu-border-radius: 0.75rem,
  input-small-text-font-size: 0.75rem,
  input-small-placeholder-text-font-size: 0.75rem,
  
  input-basic-background-color: none,
  input-basic-hover-background-color: none,
  input-basic-hover-border-color: color-primary,

  select-outline-basic-background-color: none,
  select-outline-basic-hover-background-color: none,
  select-outline-basic-hover-border-color: color-primary,

  select-small-placeholder-text-font-size: 00.75rem,

), default, default);

$nb-themes: nb-register-theme((
  color-primary: #EE2E24,
  color-secondary: #1B1B38,
  header-height: 3.5rem,
  layout-padding: 0.75rem,

  menu-item-icon-margin: 0 0.3rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,

  color-primary-default : color-primary,
  color-primary-hover : #FE4940,
  color-primary-active : color-primary,
  color-primary-focus : color-primary,
  option-selected-focus-background-color: color-primary,

  sidebar-width: 15rem,
  header-padding: 0.7rem,
  font-weight: 400,
  text-label-font-weight: 400,
  text-subtitle-font-weight: 400,
  text-subtitle-2-font-weight: 400,
  text-caption-2-font-weight: 400,
  text-button-font-weight: 400,
  layout-text-font-size: 0.75rem,
  layout-text-font-weight: 400,
  card-padding: 0.75rem,
  card-header-text-font-size: 1.25rem,
  card-header-text-font-weight: 600,
  card-text-font-size: 0.75rem,
  card-text-font-weight: 400,
  menu-item-padding: 0.5rem,
  menu-submenu-item-padding: 0.2rem,
  menu-text-font-size: 0.8rem,
  // user-initials-text-font-weight: bold,
  user-medium-name-text-font-size: 0.8rem,
  user-medium-initials-text-font-size: 0.9rem,
  context-menu-border-radius: 0.75rem,
  input-small-text-font-size: 0.75rem,
  input-small-placeholder-text-font-size: 0.75rem,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  color-primary: #EE2E24,
  color-secondary: #EDF1F7,
  color-icon: #666666,
  color-text: #222B45,
  header-height: 3.5rem,
  layout-padding: 0.75rem,
  layout-background-color: linear-gradient(0deg, rgba(237,241,247,1) 0%, rgba(255,245,245,1) 100%),
  menu-item-icon-margin: 0 0.3rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-default : color-primary,
  color-primary-hover : #FE4940,
  color-primary-active : color-primary,
  color-primary-focus : color-primary,
  option-selected-focus-background-color: color-primary,
  menu-text-color: color-text,
  menu-item-icon-color: color-icon,

  sidebar-width: 15rem,
  header-padding: 0.7rem,
  font-weight: 400,
  text-label-font-weight: 400,
  text-subtitle-font-weight: 400,
  text-subtitle-2-font-weight: 400,
  text-caption-2-font-weight: 400,
  text-button-font-weight: 400,
  layout-text-font-size: 0.75rem,
  layout-text-font-weight: 400,
  card-padding: 0.75rem,
  card-header-text-font-size: 1.25rem,
  card-header-text-font-weight: 600,
  card-text-font-size: 0.75rem,
  card-text-font-weight: 400,
  background-header: rgb(255,255,255),
  background-header-gradient: rgb(255,255,255),
  background-footer: rgb(255,255,255),
  background-footer-gradient: rgb(255,255,255),
  menu-item-padding: 0.5rem,
  menu-submenu-item-padding: 0.2rem,
  menu-text-font-size: 0.8rem,
  // user-initials-text-font-weight: bold,
  user-medium-name-text-font-size: 0.8rem,
  user-medium-initials-text-font-size: 0.9rem,
  context-menu-border-radius: 0.75rem,
  input-small-text-font-size: 0.75rem,
  input-small-placeholder-text-font-size: 0.75rem,
), corporate, corporate);

$nb-themes: nb-register-theme((
  color-primary: #EE2E24,
  color-secondary: #151A30,
  header-height: 3.5rem,
  layout-padding: 0.75rem,

  menu-item-icon-margin: 0 0.3rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-default : color-primary,
  color-primary-hover : #FE4940,
  color-primary-active : color-primary,
  color-primary-focus : color-primary,
  option-selected-focus-background-color: color-primary,

  sidebar-width: 15rem,
  header-padding: 0.7rem,
  font-weight: 400,
  text-label-font-weight: 400,
  text-subtitle-font-weight: 400,
  text-subtitle-2-font-weight: 400,
  text-caption-2-font-weight: 400,
  text-button-font-weight: 400,
  layout-text-font-size: 0.75rem,
  layout-text-font-weight: 400,
  card-padding: 0.75rem,
  card-header-text-font-size: 1.25rem,
  card-header-text-font-weight: 600,
  card-text-font-size: 0.75rem,
  card-text-font-weight: 400,
  menu-item-padding: 0.5rem,
  menu-submenu-item-padding: 0.2rem,
  menu-text-font-size: 0.8rem,
  // user-initials-text-font-weight: bold,
  user-medium-name-text-font-size: 0.8rem,
  user-medium-initials-text-font-size: 0.9rem,
  context-menu-border-radius: 0.75rem,
  input-small-text-font-size: 0.75rem,
  input-small-placeholder-text-font-size: 0.75rem,
), dark, dark);
